GEMINI_API_KEY=sua-chave-aqui
GOOGLE_CLOUD_PROJECT=creattive-licitacoes-dev
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=service_account.json
ENV=dev
GCS_BUCKET=creattive-agent-chroma
